
.description {
  background-color: $primary-bg-color;
  margin-bottom: 50px;
  position: relative;
}

@media (min-width: $desktop-width) {
  .description {
    margin-bottom: 0;
  }
}

.description__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

@media (min-width: $tablet-width) {
  .description__list {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

@media (min-width: $tablet-width) {
  .description__item {
    grid-column-start: 2;
    grid-column-end: 2;
  }
}

.description__image {
  margin-top: 48px;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position-x: center;
  min-height: 280px;
}

@media (min-width: $tablet-width) {
  .description__image {
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    z-index: 1;
  }
}

.description__image--desktop {
  display: none;
}

.description__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 24px;
  padding-top: 66px;
  margin-top: 0;
}

.description__text {
  text-align: center;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .description__text,
  .description__title {
    text-align: left;
  }
}

.navigation__link {
  color: $white;
}

.description::before {
  content: "";
  position: absolute;
  top: -30px;
  left: -490px;
  right: 0;
  background-image: url("../img/bg-triangle-white.svg");
  min-height: 94px;
}

@media (min-width: $tablet-width) {
  .description::before {
    top: 0;
    left: 0;
  }
}

@media (min-width: $tablet-width) {
  .description__item:first-child {
    padding-top: 102px;
  }
}

@media (min-width: $tablet-width) {
  .description__item {
    margin-bottom: 26px;
  }
}

@media (min-width: $tablet-width) {
  .description__title {
    padding-top: 0;
  }
}

