$download-color: #ffffff;
$color:  #1d2631;

.download__inner {
  margin-bottom: 46px;
  box-sizing: content-box;
}

.download__slogan-text {
  color: $download-color;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 34px;
  margin-top: 0;
}

.download__button {
  padding: 21px 39px;
  border: 3px solid $download-color;
  margin: 28px 20px 0;
}

.download__button--text {
  color: $download-color;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
}

.download__button:hover,
.download__button:focus {
  background-color: #ffffff;
  color: #d22856
}

.download__button:active {
  background-color: #ffffff;
  color: #f2bfcc;
}

.download__list {
  background-color: $color;
  display: flex;
  flex-wrap: wrap;
  box-sizing: content-box;
}

.download__text {
  color: $download-color;
  text-align: center;
  padding-top: 28px;
  padding-bottom: 38px;
  margin: 0;
}

.download__link:nth-child(2) {
  padding-left: 58px;
  padding-top: 32px;
}

.download__link:nth-child(3) {
  padding-top: 38px;
}

.download__link:nth-child(4) {
  padding-top: 44px;
}

.download__link:not(:last-child) {
  padding-right: 35px;
}

.download__link {
  box-sizing: content-box;
}

