
.download {
  margin-bottom: 26px;
}

.download__inner {
  padding: 0;
}

.download__image {
  position: relative;
  max-height: 286px;
  display: block;
}

@media (min-width: $mobile-width) {
  .download__slogan {
    margin-bottom: 320px;
  }
}

@media (min-width: $tablet-width) {
  .download__slogan {
    margin-bottom: 0;
    padding-left: 50px;
    padding-right: 400px;
  }
}

.download__slogan-name {
  color: $white;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  margin: 0;
  padding-right: 20px;
  padding-top: 20px;
}

@media (min-width: $mobile-width) {
  .download__slogan-name {
    padding-left: 20px;
    margin-bottom: 11px;
    font-size: 24px;
  }
}

@media (min-width: $tablet-width) {
  .download__slogan-name {
    padding: 0;
    margin-bottom: 11px;
    font-size: 40px;
  }
}

.download__button {
  padding: 18px 36px;
  border: 3px solid $white;
  margin-top: 28px;
  border-radius: 50px 50px;
}

@media (min-width: $tablet-width) {
  .download__button {
    margin-bottom: 14px;
    padding-left: 46px;
    padding-right: 47px;
  }
}

.download__button--text {
  color: $white;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
}

.download__button:hover,
.download__button:focus {
  background-color: $white;
  color: $secondary-color;
}

.download__button:active {
  background-color: $white;
  color: $light-red;
}

.download__list {
  background-color: $dark;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .download__list {
    max-width: 350px;
    position: relative;
    background-color: transparent;
  }
}

.download__text {
  color: $white;
  text-align: center;
  margin-top: 28px;
  margin-bottom: 38px;
}

@media (min-width: $tablet-width) {
  .download__text {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.download__link:nth-child(2) {
  margin-left: 38px;
  margin-top: 32px;
}

.download__link:nth-child(3) {
  margin-top: 38px;
}

.download__link:nth-child(4) {
  margin-top: 44px;
}

.download__link:not(:last-child) {
  margin-right: 35px;
}
