$primary-bg-color: #f2f2f2;
$white: #ffffff;
$secondary-color: #d22856;
$dark:#1d2631;
$light-red:#fbbfcc;

.download__inner {
  margin-bottom: 46px;
  padding: 0;
}

.download__image {
  position: relative;
  top: 8px;
}

.download__slogan-text {
  color: $white;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 27px;
  margin-top: 29px;
}

.download__button {
  padding: 21px 39px;
  border: 3px solid $white;
  margin: 28px 20px 0;
  border-radius: 50px 50px;
}

.download__button--text {
  color: $white;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
}

.download__button:hover,
.download__button:focus {
  background-color: $white;
  color: $secondary-color;
}

.download__button:active {
  background-color: $white;
  color: $light-red;
}

.download__list {
  background-color: $dark;
  display: flex;
  flex-wrap: wrap;
}

.download__text {
  color: $white;
  text-align: center;
  padding-top: 28px;
  padding-bottom: 38px;
  margin: 0;
}

.download__link:nth-child(2) {
  padding-left: 38px;
  padding-top: 32px;
}

.download__link:nth-child(3) {
  padding-top: 38px;
}

.download__link:nth-child(4) {
  padding-top: 44px;
}

.download__link:not(:last-child) {
  padding-right: 35px;
}

.download__link {
  box-sizing: content-box;
}

