$primary-color: #283645;
$secondary-color: #d22856;

.footer__social {
  box-sizing: content-box;
}

.social {
  box-sizing: content-box;
}

.social__item {
  box-sizing: content-box;
}

.social__list {
  list-style: none;
  margin: 0;
  display: flex;
  padding-left: 54px;
  padding-top: 41px;
  margin-bottom: 41px;
}

.social__link {
  min-width: 48px;
  height: 48px;
  background-color: inherit;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
  border: 3px solid rgba(0, 0, 0, 0.3);
  box-sizing: content-box;
}

.social__link:hover,
.social__link:focus {
  border: 3px solid $primary-color;
}

.social__link:active {
  opacity: 0.3;
  border: 3px solid rgba(0, 0, 0, 0.3);
}

.footer__logo:active {
  opacity: 0.3;
}

.footer__logo {
  padding-left: 68px;
  margin-bottom: 41px;
}

.social__link img {
  box-sizing: content-box;
}

.social__icon-twitter {
  padding: 17px 15px;
}

.social__icon-fb {
  padding: 15px 20px;
}

.social__icon-youtube {
  padding: 18px 14px 17px 19px;
}

.social__item:first-child {
  padding-right: 12px;
}

.social__item:nth-child(2) {
  padding-right: 10px;
}

.footer__copyright {
  display: flex;
  justify-content: center;
}

.copyright__text {
  margin: 0;
  padding-right: 15px;
  font-size: 14px;
  line-height: 18px;
}

.copyright__link svg:hover > path {
  fill: $primary-color;
}

.copyright__link svg:active > path {
  fill: $primary-color;
  opacity: 0.3;
}

.footer__logo-glasses:hover > path {
  fill: $secondary-color;
}

.footer__logo-glasses:active > path:nth-child(-n+4) {
  opacity: 0.3;
  fill: $primary-color;
}
