
.page-footer {
  padding-bottom: 40px;
  padding-top: 40px;
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding-bottom: 0;
    padding-top: 0;
  }
}

.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 41px;
}

@media (min-width: $tablet-width) {
  .social__list {
    margin-bottom: 0;
  }
}

.social__link {
  min-width: 48px;
  height: 48px;
  background-color: inherit;
  border-radius: 50%;
  display: inline-flex;
  border: 3px solid rgba(0, 0, 0, 0.3);
}

.social__link-twitter {
  background-image: url("../img/twitter.svg");
}

.social__link-fb {
  background-image: url("../img/facebook.svg");
}

.social__link-youtube {
  background-image: url("../img/youtube.svg");
}

.social__link-twitter,
.social__link-fb,
.social__link-youtube {
  background-repeat: no-repeat;
  background-position: center;
}


.social__link:hover,
.social__link:focus {
  border: 3px solid $primary-color;
}

.social__link:active {
  opacity: 0.3;
  border: 3px solid rgba(0, 0, 0, 0.3);
}

.footer__logo:active {
  opacity: 0.3;
}

.footer__logo {
  margin-bottom: 41px;
  display: inline-flex;
}

@media (min-width: $tablet-width) {
  .footer__logo {
    padding-left: 0;
    margin-bottom: 0;
  }
}

.social__item:first-child {
  margin-right: 12px;
}

.social__item:nth-child(2) {
  margin-right: 10px;
}

.footer__copyright {
  display: flex;
  justify-content: center;
}

.copyright__text {
  margin: 0;
  margin-right: 15px;
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .copyright__text {
    padding-top: 20px;
  }
}

.copyright__link {
  color: $secondary-color;
}

@media (min-width: $tablet-width) {
  .copyright__link {
    padding-top: 10px;
  }
}

.copyright__link:hover,
.copyright__link:focus {
  color: $primary-color;
}

.copyright__link:active {
  color: $primary-color;
  opacity: 0.3;
}

.footer__logo-tablet:hover > path {
  fill: $secondary-color;
}

.footer__logo-tablet:active > path:nth-child(-n+4) {
  opacity: 0.3;
  fill: $primary-color;
}

.footer__logo-desktop:hover > path {
  fill: $secondary-color;
}

.footer__logo-desktop:active > path:nth-child(-n+4) {
  opacity: 0.3;
  fill: $primary-color;
}

@media (min-width: $desktop-width) {
  .footer__logo-tablet {
    display: none;
  }
}

@media (max-width: $tablet-width) {
  .footer__logo-desktop {
    display: none;
  }
}

@media (min-width: $mobile-width) {
  .footer__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: $tablet-width) {
  .footer__inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
}

@media (min-width: $desktop-width) {
  .footer__inner {
    padding-left: 125px;
    padding-right: 125px;
    padding-top: 74px;
    padding-bottom: 75px;
  }
}
