.footer__social {
  box-sizing: content-box;
}

.social {
  box-sizing: content-box;
}

.social__item {
  box-sizing: content-box;
}

.social__list {
  list-style: none;
  margin: 0;
  display: flex;
  padding-left: 54px;
  padding-top: 41px;
  margin-bottom: 41px;
}

.social__link {
  min-width: 48px;
  height: 48px;
  background-color: inherit;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
  border: 3px solid rgba(0, 0, 0, 0.3);
  box-sizing: content-box;
}

.social__link:hover,
.social__link:focus {
  border: 3px solid #283645;
}

.social__link:active {
  opacity: 0.3;
  border: 3px solid rgba(0, 0, 0, 0.3);
}


.copyright__link:hover,
.copyright__link:focus {

}

.copyright__link:active {

}

.footer_logo:hover,
.footer__logo:focus {

}

.footer__logo:active {
  opacity: 0.3;
}

.footer__logo {
  padding-left: 68px;
  margin-bottom: 41px;
}

.social__link img {
  padding: 15px 17px 0;
  box-sizing: content-box;
}

.social__item:first-child {
  padding-right: 12px;
}

.social__item:nth-child(2) {
  padding-right: 10px;
}

.footer__copyright {
  display: flex;
  justify-content: center;
}

.copyright__text {
  margin: 0;
  padding-right: 15px;
  font-size: 14px;
  line-height: 18px;
}
