
.form {
  background-color: $white;
}

@media (max-width: $mobile-width) {
  .form__inner {
    padding: 0;
  }

  .full-name,
  .form-contacts,
  .message,
  .form__header,
  .form__lower {
    padding: 0 20px;
  }

  .apps,
  .achievements {
    margin-right: 0;
    margin-left: 0;
  }

  .achievements {
    padding-bottom: 46px;
  }
}

fieldset {
  padding: 0;
}

@media (min-width: $tablet-width) {
  .form__list {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: $mobile-width) {
  .form__group {
    border: none;
    margin-bottom: 23px;
    /*padding: 0;*/
  }
}

@media (min-width: $tablet-width) {
  .form__group:nth-child(1) {
    order: 1;
    margin-bottom: 39px;
    border: none;
  }

  .form__group:nth-child(2) {
    order: 4;
    background-color: $white;
  }

  .form__group:nth-child(3) {
    order: 3;
  }

  .form__group:nth-child(4) {
    order: 2;
    background-color: $white;
  }

  .form__group:nth-child(5) {
    order: 5;
  }

  .form__lower {
    order: 6;
    margin-bottom: 36px;
  }

  .form__group:not(:first-child) {
    border: 2px solid $light-grey;
    border-radius: 1px;
  }
}

@media (min-width: $tablet-width) {
  .form-contacts {
    padding: 36px 59px 0 57px;
    margin-bottom: 56px;
  }
}

@media (min-width: $desktop-width) {
  .form-contacts {
    padding: 33px 60px 12px 45px;
    margin-bottom: 0;
  }

  .form__lower {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .form__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 57px;
    grid-template-rows: 307px min-content min-content min-content min-content;
    padding-left: 108px;
    padding-right: 107px;
  }

  .form__group:nth-child(1) {
    margin-top: 11px;
    margin-right: 37px;
    margin-bottom: 0;
  }

  .achievements,
  .message,
  .form-contacts,
  .form__lower {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .achievements__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .apps {
    margin-left: 34px;
    margin-bottom: 0;
  }

  .achievements {
    padding-bottom: 14px;
  }

  .form__item-phone,
  .form__item-mail {
    display: inline-flex;
  }

  .form__input[type="tel"],
  .form__input[type="email"] {
    padding-right: 119px;
    margin-bottom: 12px;
  }

  .form__input[type="email"] {
    margin-left: 84px;
  }

  .form-contacts .form__item-phone,
  .form-contacts .form__item-mail {
    display: inline-flex;
    flex-direction: column-reverse;
    margin-top: 0;
  }

  .form__item-phone .form__name {
    padding-left: 32px;
  }

  .form__item-mail .form__name {
    padding-left: 102px;
  }
}

.form__title {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 36px;
  padding-top: 46px;
  margin-top: 0;
}

@media (max-width: $mobile-width) {
  .form__title-tablet {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .form__title {
    font-size: 18px;
    padding-top: 92px;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .form__title-tablet {
    padding-bottom: 73px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .form__title-tablet {
    padding-bottom: 84px;
  }
}

@media (min-width: $mobile-width) {
  .form__item {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.form__input {
  min-width: 276px;
  min-height: 59px;
  padding-left: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
  border: 2px solid $light-grey;
  border-radius: 1px;
  font-size: 18px;
  line-height: 30px;
}

@media (width: $tablet-width) {
  .form__input {
    min-width: 496px;
  }
}

@media (min-width: $tablet-width) {
  .form__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .form__name {
    padding-left: 0;
    padding-right: 17px;
  }

  .form__input {
    flex-grow: 1;
    padding-left: 18px;
  }
}

@media (min-width: $desktop-width) {
  .form__name {
    padding-right: 21px;
  }
}

@media (min-width: $tablet-width) {
  .form__item:not(:last-child) {
    margin-bottom: 56px;
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .form-contacts .form__item {
    margin-bottom: 0;
    min-width: 371px;
  }
}

.form__name {
  font-size: 14px;
  line-height: 30px;
  color: $secondary-color;
  text-transform: uppercase;
}


@media (max-width: $mobile-width) {
  .form__name {
    padding-left: 23px;
    margin-bottom: 5px;
  }
}

.form__input:hover,
.form__input:focus {
  border: 2px solid $primary-color;
}

.form__input:active {
  border: 2px solid $secondary-color;
}

.form__legend,
.apps__legend,
.achievements__legend,
.form-contacts__legend {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $secondary-color;
}

.apps__legend,
.achievements__legend {
  background-color: $primary-bg-color;
  padding-top: 40px;
}


@media (max-width: $mobile-width) {
  .form-contacts__legend {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .form-contacts__legend,
  .achievements__legend {
    padding-right: 31px;
    padding-left: 31px;
    background-color: $white;
    padding-top: 0;
  }
}

@media (min-width: $tablet-width) {
  .apps__legend {
    padding-top: 0;
    background-color: $white;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.achievements__list {
  padding-left: 22px;
  margin: 0;
  list-style: none;
}

@media (max-width: $mobile-width) {
  .achievements__legend {
    padding-left: 38px;
    padding-right: 34px;
    margin-bottom: 38px;
  }
}

.apps__legend {
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .apps__legend,
  .achievements__legend {
    margin-bottom: 44px;
  }
}

@media (min-width: $desktop-width) {
  .apps__legend {
    margin-bottom: 41px;
  }
}

.form__button {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: $white;
  padding: 13px 45px;
  background-color: $green;
  border: 2px solid $green;
  border-radius: 1px;
}

@media (min-width: $tablet-width) {
  .form__button {
    padding: 13px 56px;
  }
}

.form__button:hover,
.form__buttom:focus {
  background-color: $dark-green;
  border: 2px solid $dark-green;
}

.form__button:active {
  background-color: $dark-green;
  border: 2px solid $dark-green;
  color: $light-green;
}

.form__button:disabled {
  background: $light-grey;
  border: 2px solid $light-grey;
  border-radius: 1px;
}

@media (max-width: $mobile-width) {
  .apps,
  .achievements {
    background-color: $primary-bg-color;
    padding: 0;
    margin-bottom: 34px;
    padding-bottom: 44px;
  }
}

@media (width: $tablet-width) {
  .apps,
  .achievements {
    margin-bottom: 58px;
    padding-bottom: 54px;
  }
}


@media (width: $tablet-width) {
  .achievements {
    padding-bottom: 50px;
  }
}

.apps__list {
  list-style: none;
  padding-left: 22px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .apps__list,
  .achievements__list {
    padding-left: 56px;
  }
}

@media (min-width: $desktop-width) {
  .apps__list {
    padding-left: 73px;
  }
}

.apps__item:not(:last-child) {
  margin-bottom: 36px;
}

.apps__label {
  padding-left: 69px;
  position: relative;
  display: flex;
  min-height: 39px;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .apps__label {
    padding-left: 57px;
  }
}

@media (min-width: $desktop-width) {
  .apps__label {
    padding-left: 60px;
  }
}

.apps__input,
.achievements__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.apps__text {
  position: absolute;
  width: 39px;
  height: 39px;
  left: 0;
  background-image: url("../img/radio.svg");
  background-repeat: no-repeat;
}

.apps__input:checked + .apps__text {
  background-image: url("../img/radio-checked.svg");
  background-repeat: no-repeat;
}

.apps__input:hover + .apps__text,
.apps__input:focus + .apps__text {
  background-image: url("../img/radio-hover.svg");
  background-repeat: no-repeat;
}

.apps__input:checked:hover + .apps__text,
.apps__input:checked:focus + .apps__text {
  background-image: url("../img/radio-checked-hover.svg");
  background-repeat: no-repeat;
}

.apps__input:disabled + .apps__text {
  background-image: url("../img/radio-disabled.svg");
  background-repeat: no-repeat;
}

.apps__input:checked:disabled + .apps__text {
  background-image: url("../img/radio-checked-disabled.svg");
  background-repeat: no-repeat;
}

.achievements__item:not(:last-child) {
  margin-bottom: 45px;
}

@media (min-width: $desktop-width) {
  .achievements__item:nth-child(2) {
    grid-column-start: 1;
  }

  .achievements__item:nth-child(3) {
    grid-column-start: 2;
    grid-row-start: 1;
  }

  .achievements__item:nth-child(4),
  .achievements__item:nth-child(6),
  .achievements__item:nth-child(3),
  .achievements__item:nth-child(5) {
    padding-left: 21px;
  }

  .achievements__item:nth-child(5) {
    grid-row-start: 1;
    grid-column-start: 3;
  }
}

.achievements__label {
  padding-left: 59px;
  position: relative;
  display: flex;
  min-height: 37px;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .achievements__label {
    padding-left: 58px;
  }
}

@media (min-width: $desktop-width) {
  .achievements__label {
    padding-left: 62px;
  }
}


.achievements__label,
.apps__label {
  font-size: 18px;
  line-height: 30px;
}

.achievements__text {
  position: absolute;
  width: 37px;
  height: 37px;
  /*margin-left: -67px;*/
  left: 0;
  background-image: url("../img/checkbox.svg");
  background-repeat: no-repeat;
}

.achievements__input:checked + .achievements__text {
  background-image: url("../img/checkbox-checked.svg");
  background-repeat: no-repeat;
}

.achievements__input:hover + .achievements__text,
.achievements__input:focus + .achievements__text {
  background-image: url("../img/checkbox-hover.svg");
  background-repeat: no-repeat;
}

.achievements__input:checked:hover + .achievements__text,
.achievements__input:checked:focus + .achievements__text {
  background-image: url("../img/checkbox-checked-hover.svg");
  background-repeat: no-repeat;
}

.achievements__input:disabled + .achievements__text {
  background-image: url("../img/checkbox-disabled.svg");
  background-repeat: no-repeat;
}

.achievements__input:checked:disabled + .achievements__text {
  background-image: url("../img/checkbox-checked-disabled.svg");
  background-repeat: no-repeat;
}

.form__legend {
  margin-bottom: 17px;
}

@media (min-width: $tablet-width) {
  .legend-message {
    padding-left: 38px;
    padding-right: 38px;
    margin-bottom: 0;
  }
}

.message__text {
  border: 2px solid $light-grey;
  border-radius: 1px;
  font-size: 18px;
  line-height: 30px;
  resize: none;
  padding: 20px;
  padding-top: 15px;
  padding-right: 20px;
  width: 100%;
  min-height: 200px;
}

@media (min-width: $mobile-width) {
  .message {
    margin-bottom: 43px;
  }
}

@media (min-width: $tablet-width) {
  .message__text {
    padding: 20px;
    border: 2px solid $light-grey;
    border-radius: 1px;
    display: inline-flex;
    width: 100%;
    min-height: 189px;
    padding-top: 13px;
  }

  .message {
    padding: 37px 57px 48px 57px;
    margin-bottom: 66px;
  }
}

@media (min-width: $desktop-width) {
  .message__text {
    min-height: 124px;
  }

  .message {
    padding: 34px 60px 44px 60px;
    margin-bottom: 0;
  }
}

.message__text:hover,
.message__text:focus {
  border: 2px solid $primary-color;
}

.message__text:active {
  border: 2px solid $secondary-color;
}

.form__required,
.form__required-desktop {
  margin-top: 0;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.form__required {
  margin-bottom: 26px;
  padding-left: 62px;
}

@media (width: $mobile-width) {
  .form__required {
    padding-top: 37px;
  }
}

.form__required-desktop {
  margin-top: 20px;
  margin-bottom: 0;
}


@media (min-width: $tablet-width) {
  .form__required {
    margin-bottom: 0;
    padding: 16px 0;
  }
}

@media (min-width: $mobile-width) and (max-width: 1159px) {
  .form__required-desktop {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .form__required {
    display: none;
  }
}

.form__required sup,
.form__required-desktop sup {
  color: $secondary-color;
}

@media (min-width: $tablet-width) {
  .form__lower {
    display: flex;
    justify-content: space-between;
  }
}

@media (width: $tablet-width) {
  .form-contacts .form__item {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 29px;
  }
}

@media (min-width: $tablet-width) {
  .form__group .form-contacts {
    margin-bottom: 65px;
    position: relative;
  }

  .form-contacts .form__name {
    margin-bottom: 0;
    align-self: flex-start;
    padding-right: 0;
  }
}

@media (width: $tablet-width) {
  .form-contacts .form__name {
    padding-left: 19px;
  }
}

@media (width: $tablet-width) {
  .form__input[type="tel"] {
    padding-right: 243px;
  }

  .form__input[type="email"] {
    padding-right: 243px;
  }

  .form__input[type="tel"],
  .form__input[type="email"] {
    margin-bottom: 13px;
  }
}

@media (min-width: $tablet-width) {
  .form-contacts .form__item-phone {
    position: relative;
  }

  .form-contacts .form__item-phone::after {
    content: "";
    position: absolute;
    width: 59px;
    height: 59px;
    background-image: url("../img/phone-icon.svg");
    background-repeat: no-repeat;
    background-position: 57% 50%;
    background-color: $light-grey;
    right: 0;
    top: 0;
  }

  .form-contacts .form__item-mail {
    position: relative;
  }

  .form-contacts .form__item-mail::after {
    content: "";
    position: absolute;
    width: 59px;
    height: 59px;
    background-image: url("../img/mail-icon.svg");
    background-repeat: no-repeat;
    background-position: 57% 50%;
    background-color: $light-grey;
    right: 0;
    top: 0;
  }
}

@media (min-width: $desktop-width) {
  .form__title,
  .form__title-tablet {
    display: none;
  }

  .form-contacts .form__item-phone::after {
    content: "";
    background-position: 51% 50%;
    right: -16px;
  }

  .form-contacts .form__item-mail::after {
    content: "";
    background-position: 54% 50%;
    right: -28px;
  }
}

@media (min-width: $mobile-width) and (max-width: $desktop-width) {
  .form__title-desktop {
    display: none;
  }

  @media (min-width: $desktop-width) {
    .form__title-desktop {
      display: block;
    }
  }
}

.form__title-desktop {
  font-size: 18px;
  line-height: 30px;
  padding-top: 92px;
  padding-bottom: 75px;
  padding-right: 180px;
  padding-left: 180px;
  margin: 0;
  text-align: center;
}
