
.form {
  background-color: $white;
}

@media (min-width: $tablet-width) {
  .form__list {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: $mobile-width) {
  .form__group {
    border: none;
    margin-bottom: 44px;
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .form__group:nth-child(1) {
    order: 1;
    margin-bottom: 55px;
    border: none;
  }

  .form__group:nth-child(2) {
    order: 4;
    background-color: $white;
  }

  .form__group:nth-child(3) {
    order: 3;
  }

  .form__group:nth-child(4) {
    order: 2;
    background-color: $white;
  }

  .form__group:nth-child(5) {
    order: 5;
  }

  .form__lower {
    order: 6;
  }

  .form__group:not(:first-child) {
    border: 2px solid $light-grey;
    border-radius: 1px;
  }
}

@media (min-width: $desktop-width) {
  .form__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 64px;
    grid-template-rows: 307px min-content min-content min-content min-content;
    padding-left: 112px;
    padding-right: 112px;
  }

  .form__group:nth-child(1) {
    margin-top: 11px;
    margin-right: 37px;
    margin-bottom: 0;
  }

  .achievements,
  .message,
  .contacts,
  .form__lower {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .achievements__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .apps {
    margin-left: 37px;
    margin-bottom: 0;
  }

  .achievements {
    padding-bottom: 0;
  }

  .contacts {
    margin-bottom: 0;
  }

  .contacts__legend {
    margin-bottom: 44px;
  }

  .form__item-phone,
  .form__item-mail {
    display: inline-flex;
  }

  .form__input[type="tel"],
  .form__input[type="email"] {
    margin-bottom: 23px;
    padding-right: 119px;
  }

  .form__input[type="tel"],
  .form__input[type="email"] {
    margin-left: 60px;
  }

  .contacts .form__item-phone,
  .contacts .form__item-mail {
    display: inline-flex;
    flex-direction: column-reverse;
    margin-top: 0;
    margin-bottom: 23px;
  }

  .contacts .form__name {
    padding-left: 85px;
  }

  .contacts {
    padding: 0;
  }
}

.form__title {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 55px;
  padding-top: 54px;
  margin-top: 0;
}

@media (max-width: $mobile-width) {
  .form__title-tablet {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .form__title {
    font-size: 18px;
    padding-top: 100px;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .form__title-tablet {
    padding-bottom: 82px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .form__title-tablet {
    padding-bottom: 84px;
  }
}

@media (min-width: $mobile-width) {
  .form__item {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 29px;
  }
}

@media (min-width: $tablet-width) {
  .form__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .form__name {
    padding-left: 0;
    padding-right: 20px;
  }

  .form__input {
    flex-grow: 1;
  }
}

@media (min-width: $tablet-width) {
  .form__item:not(:last-child) {
    margin-bottom: 56px;
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .full-name .form__item:not(:last-child) {
    margin-bottom: 56px;
    margin-top: 0;
  }
}

.form__name {
  font-size: 14px;
  line-height: 30px;
  color: $secondary-color;
}


@media (max-width: $mobile-width) {
  .form__name {
    padding-left: 23px;
    margin-bottom: 17px;
  }
}

.form__input {
  min-width: 276px;
  min-height: 59px;
  padding-left: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
  border: 2px solid $light-grey;
  border-radius: 1px;
  font-size: 18px;
  line-height: 30px;
}

.form__input:hover,
.form__input:focus {
  border: 2px solid $primary-color;
}

.form__input:active {
  border: 2px solid $secondary-color;
}

.form__legend,
.apps__legend,
.achievements__legend,
.contacts__legend {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $secondary-color;
}

.apps__legend,
.achievements__legend {
  background-color: $primary-bg-color;
  padding-top: 42px;
}


@media (max-width: $mobile-width) {
  .contacts__legend {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .contacts__legend,
  .achievements__legend {
    padding-right: 31px;
    padding-left: 31px;
    background-color: $white;
    padding-top: 0;
  }
}

@media (max-width: $tablet-width) {
  .contacts__legend {
    margin-bottom: 46px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__legend {
    margin-bottom: 39px;
  }
}


@media (min-width: $tablet-width) {
  .apps__legend {
    padding-top: 0;
    background-color: $white;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.achievements__list {
  padding-left: 22px;
  margin: 0;
  list-style: none;
}

@media (max-width: $mobile-width) {
  .achievements__legend {
    padding-left: 21px;
    padding-right: 21px;
    margin-bottom: 44px;
  }
}

.apps__legend {
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .apps__legend,
  .achievements__legend {
    margin-bottom: 49px;
  }
}

.form__button {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: $white;
  padding: 13px 45px;
  background-color: $green;
  border: 2px solid $green;
  border-radius: 1px;
  margin-bottom: 46px;
}

.form__button:hover,
.form__buttom:focus {
  background-color: $dark-green;
  border: 2px solid $dark-green;
}

.form__button:active {
  background-color: $dark-green;
  border: 2px solid $dark-green;
  color: $light-green;
}

.form__button:disabled {
  background: $light-grey;
  border: 2px solid $light-grey;
  border-radius: 1px;
}

@media (max-width: $mobile-width) {
  .apps,
  .achievements {
    background-color: $primary-bg-color;
    padding: 0;
    margin-bottom: 42px;
    padding-bottom: 44px;
  }
}

@media (max-width: $tablet-width) {
  .apps,
  .achievements {
    margin-bottom: 65px;
    padding-bottom: 54px;
  }
}


@media (max-width: $tablet-width) {
  .achievements {
    padding-bottom: 50px;
  }
}

.apps__list {
  list-style: none;
  padding-left: 22px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .apps__list,
  .achievements__list {
    padding-left: 60px;
  }
}

.apps__item:not(:last-child) {
  margin-bottom: 38px;
}

.apps__label {
  padding-left: 59px;
  position: relative;
  display: flex;
  min-height: 39px;
  align-items: center;
}

.apps__input,
.achievements__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.apps__text {
  position: absolute;
  width: 39px;
  height: 39px;
  left: 0;
  background-image: url("../img/radio.svg");
  background-repeat: no-repeat;
}

.apps__input:checked + .apps__text {
  background-image: url("../img/radio-checked.svg");
  background-repeat: no-repeat;
}

.apps__input:hover + .apps__text,
.apps__input:focus + .apps__text {
  background-image: url("../img/radio-hover.svg");
  background-repeat: no-repeat;
}

.apps__input:checked:hover + .apps__text,
.apps__input:checked:focus + .apps__text {
  background-image: url("../img/radio-checked-hover.svg");
  background-repeat: no-repeat;
}

.apps__input:disabled + .apps__text {
  background-image: url("../img/radio-disabled.svg");
  background-repeat: no-repeat;
}

.apps__input:checked:disabled + .apps__text {
  background-image: url("../img/radio-checked-disabled.svg");
  background-repeat: no-repeat;
}

.achievements__item:not(:last-child) {
  margin-bottom: 47px;
}

.achievements__label {
  padding-left: 59px;
  position: relative;
  display: flex;
  min-height: 37px;
  align-items: center;
}

.achievements__text {
  position: absolute;
  width: 37px;
  height: 37px;
  /*margin-left: -67px;*/
  left: 0;
  background-image: url("../img/checkbox.svg");
  background-repeat: no-repeat;
}

.achievements__input:checked + .achievements__text {
  background-image: url("../img/checkbox-checked.svg");
  background-repeat: no-repeat;
}

.achievements__input:hover + .achievements__text,
.achievements__input:focus + .achievements__text {
  background-image: url("../img/checkbox-hover.svg");
  background-repeat: no-repeat;
}

.achievements__input:checked:hover + .achievements__text,
.achievements__input:checked:focus + .achievements__text {
  background-image: url("../img/checkbox-checked-hover.svg");
  background-repeat: no-repeat;
}

.achievements__input:disabled + .achievements__text {
  background-image: url("../img/checkbox-disabled.svg");
  background-repeat: no-repeat;
}

.achievements__input:checked:disabled + .achievements__text {
  background-image: url("../img/checkbox-checked-disabled.svg");
  background-repeat: no-repeat;
}

.form__legend {
  margin-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .legend-message {
    padding-left: 38px;
    padding-right: 38px;
    margin-bottom: 0;
  }
}

.message__text {
  padding: 22px 25px 132px 20px;
  min-width: 276px;
  max-height: 197px;
  border: 2px solid $light-grey;
  border-radius: 1px;
  font-size: 18px;
  line-height: 30px;
}

@media (min-width: $tablet-width) {
  .message__text {
    padding: 23px 23px 153px 20px;
    min-width: 496px;
    max-height: 189px;
    border: 2px solid $light-grey;
    border-radius: 1px;
    display: block;
    margin-top: 40px;
    margin-bottom: 54px;
    margin-left: 60px;
  }

  .message {
    margin-bottom: 70px;
  }
}

@media (min-width: $desktop-width) {
  .message__text {
    padding: 22px 343px 89px 20px;
    min-width: 816px;
    max-height: 124px;
    margin-top: 44px;
    margin-bottom: 45px;
  }

  .message {
    padding: 0;
    margin-bottom: 0;
  }
}


.message__text:hover,
.message__text:focus {
  border: 2px solid $primary-color;
}

.message__text:active {
  border: 2px solid $secondary-color;
}

.form__required {
  margin-top: 0;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 26px;
  padding-left: 49px;
}

.form__required sup {
  color: $secondary-color;
}

@media (min-width: $tablet-width) {
  .form__lower {
    display: flex;
    justify-content: space-between;
  }
}

@media (width: $tablet-width) {
  .contacts .form__item {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 41px;
  }
}

@media (min-width: $tablet-width) {
  .form__group .contacts {
    margin-bottom: 65px;
    position: relative;
  }

  .contacts .form__name {
    margin-bottom: 0;
    align-self: flex-start;
    padding-right: 0;
  }
}

@media (max-width: $tablet-width) {
  .contacts .form__name {
    padding-left: 30px;
  }
}

@media (width: $tablet-width) {
  .form__input[type="tel"] {
    padding-right: 303px;
  }

  .form__input[type="email"] {
    padding-right: 303px;
  }

  .form__input[type="tel"],
  .form__input[type="email"] {
    margin-bottom: 22px;
  }
}

@media (min-width: $tablet-width) {
  .contacts .form__item-phone {
    position: relative;
  }

  .contacts .form__item-phone::after {
    content: "";
    position: absolute;
    width: 59px;
    height: 59px;
    background-image: url("../img/phone-icon.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: $light-grey;
    right: 25px;
    top: 0;
  }

  .contacts .form__item-mail {
    position: relative;
  }

  .contacts .form__item-mail::after {
    content: "";
    position: absolute;
    width: 59px;
    height: 59px;
    background-image: url("../img/mail-icon.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: $light-grey;
    right: 25px;
    top: 0;
  }
}

@media (min-width: $desktop-width) {
  .contacts .form__item-phone::after {
    right: 0;
  }

  .contacts .form__item-mail::after {
    right: 0;
  }
}
