.map {
  position: relative;
  background-image: url("../img/bg-map-desktop.jpg");
  background-repeat: no-repeat;
  background-position: 50% 80%;
  min-height: 200px;
}

@media (min-resolution: 2dppx) {
  .map {
    background-image: url("../img/bg-map-desktop@2x.jpg");
  }
}

@media (min-width: $tablet-width) {
  .map {
    background-position: 60% 80%;
    min-height: 374px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    min-height: 502px;
  }
}

.map::before {
  content: "";
  position: absolute;
  background-image: url("../img/bg-triangle-white-footer.svg");
  min-height: 62px;
  min-width: 320px;
  background-repeat: no-repeat;
  display: block;
  background-size: 100%;
}


.map__marker {
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  background-image: url("../img/map-marker.svg");
  width: 36px;
  height: 36px;
  padding: 0;
}
