$primary-bg-color: #f2f2f2;
$white: #ffffff;
$secondary-color: #d22856;
$primary-color: #283645;
$dark-blue:#000000;

.navigation {
  margin-bottom: 29px;
}

.navigation__inner {
  background-color: $dark-blue;
  box-sizing: content-box;
  padding: 21px 0;
}

.navigation__logo {
  padding-right: 180px;
  padding-left: 5px;
  min-width: 74px;
  height: 23px;
}

.navigation__logo svg:hover > path {
  fill: $secondary-color;
}

.navigation__logo svg:active > path {
  fill: $white;
  opacity: 0.3;
}


.navigation__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  color: $white;
  display: none;
}

.navigation__toggle {
  padding: 0;
  margin: 0;
  background-color: $dark-blue;
  border-color: $dark-blue;
}

.navigation__item {
  align-self: flex-end;
}

.navigation__link:hover,
.navigation__link:focus {
  color: $secondary-color;
}

.navigation__link:active {
  opacity: 0.3;
  color: $white;
}

.navigation__link--active {
  border-bottom: 1px solid $white;
}

.navigation__toggle-svg:hover > path {
  fill: $secondary-color;
}

.navigation__toggle-svg:active > path {
  fill: $secondary-color;
  opacity: 0.3;
}
