.navigation {
  background-color: rgba(0, 0, 0, 0.3);
}

.navigation__close {
  background-color: transparent;
  border: none;
  margin-left: 270px;
  display: none;
  color: $white;
}

.navigation__close:hover,
.navigation__close:focus {
  color: $secondary-color;
}

.navigation__close:active {
  color: $secondary-color;
  opacity: 0.3;
}

@media (max-width: $mobile-width) {
  .navigation__inner {
    padding-top: 7px;
    padding-bottom: 12px;
  }
}

@media (min-width: $tablet-width) {
  .navigation__inner {
    padding-top: 27px;
    padding-bottom: 36px;
  }
}

@media (min-width: $desktop-width) {
  .navigation__inner {
    padding-top: 27px;
    padding-bottom: 43px;
  }
}

@media (min-width: $desktop-width) {
  .navigation__inner {
    display: flex;
  }
}

.navigation__logo-main,
.navigation__logo {
  min-width: 74px;
  color: $white;
  min-height: 23px;
}

@media (min-width: $mobile-width) {
  .navigation__logo-main,
  .navigation__logo {
    margin-right: 145px;
    margin-left: -70px;
  }

  .navigation__logo-glassestablet,
  .navigation__logo-glassesdesktop,
  .navigation__logo-dots {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .navigation__logo-main,
  .navigation__logo {
    margin-right: 410px;
    margin-left: 0;
  }

  .navigation__logo-dots,
  .navigation__logo-glassesdesktop {
    display: none;
  }

  .navigation__logo-glassestablet {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .navigation__logo-main,
  .navigation__logo {
    margin-right: 173px;
    margin-left: 110px;
  }

  .navigation__logo-glassestablet {
    display: none;
  }

  .navigation__logo-dots,
  .navigation__logo-glassesdesktop {
    display: block;
  }

  .navigation__logo-dots {
    color: $secondary-color;
  }
}

.navigation__logo:hover,
.navigation__logo:focus {
  color: $secondary-color;
}

.navigation__logo:active {
  color: $white;
  opacity: 0.3;
}

@media (max-width: $tablet-width) {
  .navigation__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    color: $white;
    margin: 0;
    padding: 0;
    position: absolute;
    display: none;
  }
}

@media (min-width: $mobile-width) {
  .navigation__list {
    top: 75px;
    right: 0;
    left: 0;
  }
}

@media (min-width: $tablet-width) {
  .navigation__list {
    top: 110px;
  }
}

@media (min-width: $desktop-width) {
  .navigation__list {
    list-style: none;
    display: flex;
    color: $white;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: $tablet-width) {
  .navigation__link {
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
    color: $white;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #485461;
    border-bottom: 1px solid #000000;
  }
}

@media (min-width: $desktop-width) {
  .navigation__link {
    font-size: 18px;
    line-height: 18px;
    color: $white;
    display: flex;
    padding-top: 22px;
  }
}

@media (min-width: $desktop-width) {
  .navigation__item:not(:last-child) {
    padding-right: 79px;
  }
}

.navigation__toggle {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  color: $white;
  width: 50px;
  min-height: 24px;
  position: relative;
}

@media (min-width: $desktop-width) {
  .navigation__toggle {
    display: none;
  }
}

.navigation__toggle svg {
  position: absolute;
  top: 0;
  left: 0;
}

.navigation__link:not(.navigation__link--index):hover,
.navigation__link:not(.navigation__link--index):focus {
  color: $secondary-color;
}

.navigation__link:not(.navigation__link--index):active {
  color: $super-light-red;
}

.navigation__link--active {
  border-bottom: 1px solid $white;
  padding-bottom: 19px;
}

.navigation__link--active:hover,
.navigation__link--active:focus,
.navigation__link--active:active {
  color: $white;
}

.navigation__toggle:hover,
.navigation__toggle:focus {
  color: $secondary-color;
}

.navigation__toggle:active {
  color: $secondary-color;
  opacity: 0.3;
}
