
.navigation {
  background-color: rgba(0, 0, 0, 0.3);
}

@media (min-width: $tablet-width) {
  .navigation {
    margin-bottom: 102px;
  }
}

.navigation__close {
  background-color: transparent;
  border: none;
  margin-left: 270px;
  display: none;
  color: $white;
}

.navigation__close:hover,
.navigation__close:focus {
  color: $secondary-color;
}

.navigation__close:active {
  color: $secondary-color;
  opacity: 0.3;
}

@media (max-width: $mobile-width) {
  .navigation__inner {
    padding: 22px 0;
  }
}

@media (min-width: $tablet-width) {
  .navigation__inner {
    padding-top: 27px;
    padding-bottom: 43px;
  }
}

@media (min-width: $desktop-width) {
  .navigation__inner {
    display: flex;
  }
}

.navigation__logo {
  min-width: 74px;
  height: 23px;
  color: $white;
}

@media (min-width: $mobile-width) {
  .navigation__logo {
    margin-right: 140px;
    margin-left: 20px;
  }
}

@media (min-width: $tablet-width) {
  .navigation__logo {
    margin-right: 410px;
    margin-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .navigation__logo {
    margin-right: 173px;
    margin-left: 110px;
  }
}

@media (max-width: $mobile-width) {
  .navigation__logo-2,
  .navigation__logo-3 {
    display: none;
  }
}

@media (width: 660px) {
  .navigation__logo-1,
  .navigation__logo-3 {
    display: none;
  }
}

@media (min-width: 1200px) {
  .navigation__logo-1,
  .navigation__logo-2 {
    display: none;
  }
}

.navigation__logo:hover,
.navigation__logo:focus {
  color: $secondary-color;
}

.navigation__logo:active {
  color: $white;
  opacity: 0.3;
}

@media (max-width: $tablet-width) {
  .navigation__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    color: $white;
    margin: 0;
    padding: 0;
    position: absolute;
    /*display: none;*/
  }
}

@media (min-width: $mobile-width) {
  .navigation__list {
    top: 75px;
    right: 0;
    left: 0;
  }
}

@media (min-width: $tablet-width) {
  .navigation__list {
    top: 115px;
  }
}

@media (min-width: $desktop-width) {
  .navigation__list {
    list-style: none;
    display: flex;
    color: $white;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: $tablet-width) {
  .navigation__list a {
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
    color: $white;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #485461;
    border-bottom: 1px solid #000000;
  }
}

@media (min-width: $desktop-width) {
  .navigation__list a {
    font-size: 18px;
    line-height: 18px;
    color: $white;
    display: flex;
    padding-top: 19px;
    padding-bottom: 6px;
  }
}

@media (min-width: $desktop-width) {
  .navigation__item:not(:last-child) {
    padding-right: 79px;
  }
}

.navigation__toggle {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  color: $white;
  width: 50px;
  min-height: 24px;
  position: relative;
}

@media (min-width: $desktop-width) {
  .navigation__toggle {
    display: none;
  }
}

.navigation__toggle svg {
  position: absolute;
  top: 0;
  left: 0;
}

.navigation__link:hover,
.navigation__link:focus {
  color: $secondary-color;
}

.navigation__link:active {
  color: $super-light-red;
}

.navigation__link--active {
  border-bottom: 1px solid $white;
}

.navigation__toggle:hover,
.navigation__toggle:focus {
  color: $secondary-color;
}

.navigation__toggle:active {
  color: $secondary-color;
  opacity: 0.3;
}
