$page-color: #283645;

.page {
  display:grid;
  grid-template-rows: min-content 1fr min-content;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  min-height: 100%;
  color: $page-color;
  background-image: url(../../img/bg-back-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
}


