$primary-color: #283645;
$white: #ffffff;

html {
  height: 100%;
}

.page {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  min-height: 100%;
  color: $primary-color;
  background: url("../img/bg-back-mobile.jpg") no-repeat 50% 0;
}

.page-title {
  text-align: center;
  margin: 0;
  min-height: 84px;
  margin-bottom: 65px;
  color: $white;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%
}
