
html {
  height: 100%;
}

.page {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  min-height: 100%;
  color: $primary-color;
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile.jpg");
  background-position: 0 39%, 50% 0;
  background-repeat: no-repeat;
  background-size: auto, cover;
}

.page-title {
  text-align: center;
  margin: 0;
  min-height: 84px;
  margin-bottom: 65px;
  color: $white;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  padding-left: 10%;
  padding-right: 10%;
}

@media (min-width: $tablet-width) {
  .page {
    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet.jpg");
    background-position: 50% 87%, 50% 25%;
    background-repeat: no-repeat;
    background-size: auto, cover;
  }
}

@media (min-width: $desktop-width) {
  .page {
    background-image: url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop.jpg");
    background-position: 95% 70%, 50% 25%;
    background-repeat: no-repeat;
    background-size: auto, cover;
  }
}


