$primary-bg-color: #f2f2f2;

.price {
  margin-bottom: 47px;
}

.price__inner {
  position: relative;
  background-color: $primary-bg-color;
}


.price__toggles {
  position: absolute;
  top: 110px;
  left: 120px;
}
