
@media (min-width: $mobile-width) {
  .research {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .research {
    display: block;
  }
}

.research {
  padding-top: 14px;
  margin-bottom: 110px;
}

@media (min-width: $desktop-width) {
  .research {
    background-color: $primary-bg-color;
    margin-bottom: 193px;
  }
}

@media (min-width: $tablet-width) {
  .research__inner {
    display: grid;
    grid-template-columns: 310px 330px;
  }
}

@media (min-width: $desktop-width) {
  .research__inner {
    grid-template-columns: 520px 660px;
  }
}

.research__image {
  color: $timer-color;
}

.research__timer {
  position: relative;
}

@media (min-width: $tablet-width) {
  .research__item {
    padding-top: 38px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .research__item {
    padding-top: 115px;
    padding-right: 166px;
    padding-bottom: 120px;
  }
}

.research__image-circle {
  position: absolute;
  top: 57px;
  left: 18px;
  color: $secondary-color;
}

.research__image-number {
  position: absolute;
  top: 105px;
  left: 65px;
  color: $secondary-color;
}

.research__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: $dark-blue;
  margin-bottom: 24px;
  margin-top: 0;
  padding-right: 140px;
}

@media (min-width: $desktop-width) {
  .research__title {
    padding-right: 0;
  }
}

.research__text {
  margin-top: 0;
  margin-bottom: 24px;
}

.research__link {
  text-decoration: underline;
  color: $secondary-color;
}

@media (min-width: $desktop-width) {
  .research__timer {
    display: none;
  }

  .research__image-desktop {
    color: $timer-color;
  }

  .research__timer-desktop {
    position: relative;
    display: flex;
    justify-content: center;
  }

  .research__image-circledesktop {
    position: absolute;
    top: 67px;
    left: 135px;
    color: $secondary-color;
  }

  .research__image-numberdesktop {
    position: absolute;
    top: 145px;
    left: 195px;
    color: $secondary-color;
  }
}

@media (max-width: 1199px) {
  .research__timer-desktop {
    display: none;
  }
}
