$white: #ffffff;
$dark-blue:#000000;

.slider__item {
  display: none;
}

.slider__item--active {
  display: block;
}

.reviews__item {
  background-color: $white;
}

.reviews__author-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: $dark-blue;
  text-align: center;
}

.reviews__text {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.reviews__inner {
  position: relative;
}

.reviews__toggles {
  position: absolute;
  top: 280px;
  left: 130px;
}

.reviews {
  margin-bottom: 50px;
}
